@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* ✅ ESTO DEBE IR FUERA */

.custom-calendar {
  width: 100% !important;
  border: none !important;
  background: transparent !important;
}

.custom-calendar .react-calendar__viewContainer {
  width: 100%;
}

.custom-calendar .react-calendar__month-view {
  width: 100%;
}

.custom-calendar .react-calendar__month-view__weekdays {
  width: 100%;
  text-align: center;
}

.custom-calendar .react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
}

.custom-calendar button {
  border-radius: 14px;
  transition: 0.2s;
}

.custom-calendar button:enabled:hover {
  background: #eff6ff;
}

.custom-calendar .react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
}

.custom-calendar .react-calendar__navigation button {
  min-width: 36px;
}
.input {
  @apply w-full border border-gray-300 px-3 py-2 rounded-xl text-sm
  focus:ring-2 focus:ring-blue-500 outline-none
  transition bg-white;
}


@keyframes modalUp {

  from {
    opacity: 0;
    transform: translateY(120px) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.error {
  @apply text-xs text-red-500 mt-1;
}

.tooltip {
  @apply absolute bottom-full left-1/2 -translate-x-1/2 mb-2
  opacity-0 group-hover:opacity-100
  transition duration-200
  bg-black text-white text-xs px-2 py-1 rounded shadow
  whitespace-nowrap;
}

.card {
  @apply p-5 rounded-xl border shadow-sm;
}

/* ✅ SOLO PARA IMPRESIÓN */
@media print {
  body * {
    visibility: hidden;
  }

  .factura-print,
  .factura-print * {
    visibility: visible;
  }

  .factura-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
    display: none !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-modalIn {
  animation: modalIn 0.25s ease-out forwards;
}



@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.35s ease;
}
